{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<head></head>
<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{% static 'js/alpine.js' %}" defer></script>
  <script src="{% static 'js/preline.js' %}" defer></script>
  {% tailwind_css %}
  <title>
    {% block title %}
      Django
    {% endblock title %}
  </title>
</head>
<body>
  {% include "includes/header.html" %}
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>
{% if debug %}
  <script>
    if (typeof window.htmx !== "undefined") {
        htmx.on("htmx:afterSettle", function(detail) {
            if (
                typeof window.djdt !== "undefined"
                && detail.target instanceof HTMLBodyElement
            ) {
                djdt.show_toolbar();
            }
        });
    }
  </script>
{% endif %}
</html>
